body {
  margin: 0;
  font-family: comfortaa, sans-serif;
  background: #f7f7f7;
}

.header {
  background: white;
  padding: 20px;
  font-size: 14px;
}

.header a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.search {
  float: right;
}

.top-section {
background: linear-gradient(360deg, #ffffff 0%, #d4a9fe 100%);
;
  height: 300px;
  position: relative;
}

.logo {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 25px;
}

.plush {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 210px;
}

.girl1 {
  width: 250px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.shop-button {
  position: absolute;
  top: 150px;
  left: 200px;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-style: italic;
}

.middle-section {
  padding: 30px;
}

.girl2 {
  width: 120px;
  position: absolute;
  left: 1px;
  bottom: -200px;
}


.shop-items h2 {
  text-align: center;
  margin-bottom: 5px;
}

.shop-items p {
  text-align: center;
}

.boxes {
  width: 500px;
  margin: 20px auto;
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  display: inline-block;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.best-sellers {
  text-align: center;
  padding: 30px;
  clear: both;
}

.products {
  margin-top: 20px;
}

.product {
  width: 180px;
  display: inline-block;
  margin: 10px;
  background: white;
  padding: 10px;
}

.pic {
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
}

.product button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 8px;
}

.footer {
  background: #ffffff;
  padding: 20px;
  margin-top: 30px;

}
.social {
  width: 80px;
  top: 5px;
  left: 200px;
}

.footer {
  position: relative;
}

.Newsletter {
  position: relative;
  top: 80px;  
  left: 35px;
}
.social-section {
    text-align: right;
}


.social-section img {
    width: 30px;
    margin: 5px;
}

.footer div {
  display: inline-block;
  vertical-align: top;
  width: 18%;
}

.footer input {
  padding: 8px;
  width: 120px;
}